@media print {
  /* hide stuff */
  #body-user {
    #header,
    div#app-navigation,
    #app-navigation-toggle,
    #app-navigation-toggle-custom,
    #tableContainer_filter,
    #tableContainer_length,
    #tableContainer_paginate{
      display: none !important;
    }

    #content {
      margin: 0;
      padding: 0;
    }

    #app-content {
      margin: 0 !important;
    }

    #analytics-content {
      padding: 80px !important;
    }
  }

  div#app-navigation-toggle.icon-menu {
    display: block;
    width: 0px;
    height: 0px;
    background: none;
  }

.icon-analytics-filter-add,
 .icon-analytics-drilldown,
 #chartLegend{
    display:none;
}

.filterVisualizationItem {
    background-image: initial !important;
    padding-left: 5px !important;
}

  /* Layout */
  @page {
    size: A4 portrait;
    margin: 20mm 0 10mm 0;
  }
}
