# Various
.*.sw[po]
*.bak
*.BAK
*~
*.orig
*.class
.cvsignore
Thumbs.db
.thumbs
*.py[co]
_darcs/*
CVS/*
.svn/*
RCS/*
*.backup*
*.Lock
.idea
.phpunit.result.cache
tests/ui-artifacts/
docs/*
!docs/flexible-storage-api-v1.md

# Mac OS
.DS_Store
__MACOSX/*
._*
.smbdelete*

# VSCode
.vscode/
*.code-workspace
